html {
  position: relative;
  min-height: 100%;
}

body {
  color: #777777;
  background-image: url("../images/wavegrid_@2X.png");
  background-repeat:repeat;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 30px;
  padding: 0px;

}

h1,
h2 {
  color: #228b22;
  border-bottom: 1px solid #228b22;
  padding-bottom: 20px; 
}



.navbar {
  background-color: #228b22;
  text-align: center;

}

.navbar-brand {
  background-color: #191970;
  margin-bottom: -10px;
}


.main-body {
  background-color: #fffafa;
  padding: 10px 20px 20px 20px;
  border-style: ridge;
}

.port_img {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition:         transform .3s ease-in-out;
}

.port_img:hover {
   -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.port-caption {
  position: relative;
  max-width: 100%;
  margin-top: -80px;
  background-color: #228b22;
  color: #ffffff;
  opacity: 1;
  text-align: center;
  padding: 8px;
  font-weight: lighter;
}


.port-caption h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.aside {
  background-color: #fffafa;
  padding: 10px 20px 20px 20px;
  text-align: center;
  border-style: ridge;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #191970;
    text-align: center;
    border-top: 4px solid #228b22;
}